<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <!-- 1.选择一个 -->
    <select name="adc" v-model="fruit">
      <option value="苹果">苹果</option>
      <option value="香蕉">香蕉</option>
      <option value="橘子">橘子</option>
      <option value="西瓜">西瓜</option>
      <option value="草莓">草莓</option>
    </select>
    <h2>{{fruit}}</h2>

    <!-- 2.选择多个 -->
    <select name="adc" v-model="fruits" multiple>
      <option value="苹果">苹果</option>
      <option value="香蕉">香蕉</option>
      <option value="橘子">橘子</option>
      <option value="西瓜">西瓜</option>
      <option value="草莓">草莓</option>
    </select>
    <h2>{{fruits}}</h2>
  </div>

  <script src="/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        fruit:'香蕉',
        fruits:[]
      },
      methods: {}
    });
  </script>
</body>

</html>