body {
  min-width: 320px;
  max-width: 750px;
  /* flexible划分了10等份 */
  width: 10rem;
  margin: 0 auto;
  line-height: 1.5;
  font-family: Arial, Helvetica;
  background: #F2F2F2;
}
a {
  text-decoration: none;
  font-size: .333333rem;
}

/* 这个插件默认的html文字大小 cssroot 16px */
/* img { */
/* width: 5.125rem;
  height: 4rem; */
/* width: 1.093333rem;
  height: 1rem; */
/* } */

/* 如果屏幕超过了 750px 那么就按照 750设计稿来走 不会让页面超过750px */
@media screen and (min-width: 750px) {
  html {
    font-size: 75px!important;
  }
}

/* search-content */
.search-content {
  display: flex;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 10rem;
  height: 1.173333rem;
  background-color: #FFc001;
}

.classify {
  width: .586667rem;
  height: .933333rem;
  background-color: pink;
  margin: .146667rem .333333rem .133333rem;
  background: url(../images/classify.png) no-repeat;
  background-size: .586667rem .933333rem;
}

.search {
  flex: 1;
}

.search input {
  width: 100%;
  height: .88rem;
  outline: none;
  border: 0;
  font-size: .333333rem;
  background-color: #FFF2CC;
  margin-top: .133333rem;
  border-radius: .44rem;
  padding-left: .733333rem;
  color: #757575;
}

.login {
  width: 1rem;
  height: .933333rem;
  margin: .133333rem;
  text-align: center;
  line-height: .933333rem;
  color: #fff;
}